@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.button-o {
  border: 0.2rem solid #507fe1;
  color: #507fe1;
  padding: 1.7rem 2.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button {
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2.5rem 4.5rem;
  background-color: #507fe1;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8rem;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone-number {
  display: block;
  font-size: 1.9rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  color: #262626;
  margin-bottom: .5rem;
}

.navbar__small-text {
  display: block;
  font-size: 1.4rem;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  width: 100%;
  top: 8rem;
  left: 0;
  padding: 1.6rem 0;
  background-color: #507fe1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu_active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 0.1rem solid rgba(81, 11, 186, 0.1);
  border-left: 0.1rem solid rgba(81, 11, 186, 0.1);
  height: 8rem;
  width: 7rem;
}

.menu-button__line {
  width: 2rem;
  height: .3rem;
  background-color: #89a9eb;
  margin: .2rem 0;
}

.logo__text {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__description {
  display: block;
  font-size: 1.4rem;
  color: #7b7b79;
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top 8rem;
  background-size: contain;
  padding-top: 18rem;
  padding-bottom: 27rem;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.hero__subtitle {
  display: block;
  margin-bottom: 6.7rem;
  font-size: 3rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
}
/*# sourceMappingURL=style.css.map */