* {
  box-sizing: border-box;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 359px) {
  .container {
    max-width: 100%;
    padding: 0;
  }

  .offer-block {
    padding: .5rem;
  }

  .form__button {
    margin-bottom: .5rem;
  }

  .blog {
    &-list {
      &__item {
        margin: 0;
        margin-bottom: 1rem;
        width: 90%;
      }
    }
  }
}