html {
  font-size: 10px;
}
body {
  @include light;
  color: $text-color;
  overflow-x: hidden;
}
.button-o{
  border: .2rem solid $primary;
  color: $primary;
  padding: 1.7rem 2.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  @include bold;
  background-color: #fff;
}
.button{
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2.5rem 4.5rem;
  background-color: $primary;
  color: #ffffff;
  @include bold;
}
@media (max-width: 576px){
  .button-o{
    font-size: 1rem;
  }
}