html {
  font-size: 10px;
}

body {
  @include light;
  color: $text-color;
  overflow-x: hidden;
}

.section {
  padding: 10rem 0;

  &-title {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    @include bold;
  }

  &__title {
    margin-bottom: 10rem;
  }
}

.button-o {
  border: .2rem solid $primary;
  color: $primary;
  padding: 1.7rem 2.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  @include bold;
  background-color: #fff;
}

.button {
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2.5rem 4.5rem;
  background-color: $primary;
  color: #ffffff;
  @include bold;
}

.bg-secondary {
  background: $bg-secondary;
}

.input {
  height: 8rem;
  padding-left: 3rem;
  border: .1rem solid #dddddd;
}

input[type="checkbox"] {
  display: none;

  &:checked+label:before {
    content: '';
    background-color: $primary;
    width: 2.4rem;
    height: 2.4rem;
    border: .4rem solid #fff;
    border-style: double;
  }
}

.checkbox {
  &-label {
    display: flex;
    align-items: center;
    margin-right: 4rem;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      width: 3rem;
      height: 3rem;
      border: .1rem solid #dddddd;
      margin-right: 2rem;
    }
  }
}

@media (max-width: 576px) {
  .button-o {
    font-size: 1rem;
  }

  .section {
    padding: 6rem 0;

    &-title {
      font-size: 2.4rem;
    }
  }
}