.catalog {
  background-color: #f5f6f8;

  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-item {
    max-width: 57rem;
    position: relative;
    box-shadow: .7rem .5rem 2.1rem rgba(0, 0, 0, .1);

    &__buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
    }

    &__button {
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      border: none;
      height: 3rem;
    }

    &__tag {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 1rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #fff;
      background-color: rgba($primary, .6);
    }

    &__image {
      display: block;
    }
  }

  &__item {
    margin-bottom: 3rem;
  }

  &__link {
    text-align: center;
    margin-top: 6rem;
    width: 100%;
  }

  &__link-more {
    display: block;
    margin-bottom: 2.4rem;
  }

  &__description {
    display: block;
    margin-top: 4rem;
  }

}

@media (max-width: 1199px) {
  .catalog {
    &-block {
      justify-content: center;
    }

    &-item {
      max-width: 470px;
    }
  }
}