.contacts {
  padding-bottom: 0;
  &-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item{
      margin: 0 auto;
      text-align: center;
    }
  }
  &__image{
    width: 5rem;
    height: 5rem;
    margin-bottom: 2.5rem;
  }
  &__text{
    font-size: 1.6rem;
  }
  &__link{
    text-decoration: none;
    color: $text-color;
  }
  &__address{
    font-style: normal;
  }
  &__map{
    width: 100%;
    height: 40rem;
    margin-top: 10rem;
  }
}

@media (max-width: 767px) {
  .contacts {
    &-block{
      &__item{
        width: 100%;
        margin-bottom: 7rem;
      }
    }
    &__address{
      max-width: 15rem;
      margin: auto;
    }
  }
}