.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  &__mobile, &__landline{
    text-align: right;
  }
  &__phone-number {
    display: block;
    font-size: 1.9rem;
    text-decoration: none;
    color: $text-color;
    margin-bottom: .5rem;
    @include bold;
  }
  &__small-text{
    display: block;
    font-size: 1.4rem;
    color: $text-color-light;
    text-decoration: none;
  }
}
.menu{
  position: fixed;
  z-index: 0;
  width: 100%;
  top: 8rem;
  left: 0;
  padding: 1.6rem 0;
  background-color: $primary;
  z-index: 3;
  // transform: translateY(0);
  transform: translateY(-200%);
  opacity: 0;
  &_active{
    // transform: translateY(100%);
    transform: translateY(0%);
    opacity: 1;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__link{
    text-decoration: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #ffffff;
  }
  &-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: .1rem solid rgba(#510bba, 0.1);
    border-left: .1rem solid rgba(#510bba, 0.1);
    height: 8rem;
    width: 7rem;
    &__line{
      width: 2rem;
      height: .3rem;
      background-color: #89a9eb;
      margin: .2rem 0;
    }
  }
}

.logo {
  &__text{
    display: block;
    margin-bottom: .5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    @include bold;
  }
  &__description{
    display: block;
    font-size: 1.4rem;
    color: $text-color-light;
  }
}
@media (max-width: 991px){
  .navbar{
    &__mobile, &__landline{
      display: none;
    }
  }
  .logo{
    display: none;
  } 
  .menu{
    top: 6rem;
    &-button{
      height: 6rem;
    }
    &__nav{
      flex-direction: column;
    }
    &__link{
      margin-bottom: 2rem;
    }
  }
} 