.price {

  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
      margin-bottom: 1rem;
    }
  }

  &-card {
    background: #fff;
    position: relative;

    &__text {
      padding: 2rem;
      font-size: 1.5rem;
    }

    &__title {
      margin: 0;
    }

    &__cost {
      @include bold;
    }

    &__price-tag {
      display: flex;
      justify-content: space-between;
    }

    &__button {
      text-align: center;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
      background-color: #fff;
      height: 8rem;
      padding: 2rem;
      padding-top: 0;
    }

    &:hover {
      .price-card__button {
        z-index: 2;
        bottom: -8rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  .price {
    &-block {
      justify-content: space-around;

      &__card {
        margin: 2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .price {
    &-block {
      justify-content: center;

      &__card {
        margin: 2rem;
      }
    }

    &__card {
      margin: 2rem;
    }
  }
}