.blog {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  &__title {
    font-size: 2.4rem;
    @include bold;
  }

  &__link-more {
    color: $primary;
    font-size: 1.6rem;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__image {
      height: 20rem;
      overflow: hidden;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      min-height: 8rem;
    }

    &__item {
      margin-bottom: 4rem;
    }
  }

  &-item {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .08);
  }
}

@media (max-width: 1199px) {
  .blog {
    &-list {
      justify-content: space-around;

      &__item {
        margin-right: 3rem;
        margin-left: 3rem;
      }
    }
  }
}